### Kaggle datasets: Stack Overflow python questions analysis

In [47]:
from __future__ import division
from collections import Counter
import os
import string

from nltk.corpus import stopwords
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

# Disable pandas SettingWithCopyWarning
pd.options.mode.chained_assignment = None

work_dir = os.environ['WORK_DIR']

# Load data (Questions.csv downloaded from https://www.kaggle.com/stackoverflow/pythonquestions)
df = pd.read_csv(os.path.join(work_dir, 'Questions.csv'))
df.head()

,Id,OwnerUserId,CreationDate,Score,Title,Body
0,469,147.0,2008-08-02T15:11:16Z,21,How can I find the full path to a font from it...,<p>I am using the Photoshop's javascript API t...
1,502,147.0,2008-08-02T17:01:58Z,27,Get a preview JPEG of a PDF on Windows?,<p>I have a cross-platform (Python) applicatio...
2,535,154.0,2008-08-02T18:43:54Z,40,Continuous Integration System for a Python Cod...,<p>I'm starting work on a hobby project with a...
3,594,116.0,2008-08-03T01:15:08Z,25,cx_Oracle: How do I iterate over a result set?,<p>There are several ways to iterate over a re...
4,683,199.0,2008-08-03T13:19:16Z,28,Using 'in' to match an attribute of Python obj...,<p>I don't remember whether I was dreaming or ...

In [48]:
# Limit size

print df.size
df_frac = df.sample(frac=.05)
print df_frac.size

3643692
182184

In [49]:
# Clean strings - remove stopwords, punctuation, uppercase

stopwords_en = stopwords.words('english')

def remove_stopwords(row):
    if row.Title:
        return ' '.join([word for word in row.Title.split() if word not in stopwords_en])

def remove_punctuation(row):
    if row.Title:
        return ' '.join([word for word in row.Title.split() if word not in string.punctuation])

def make_lowercase(row):
    if row.Title:
        return ' '.join([word.lower() for word in row.Title.split()])


df_frac['Title'] = df_frac.apply(remove_stopwords, axis=1)
df_frac['Title'] = df_frac.apply(remove_punctuation, axis=1)
df_frac['Title'] = df_frac.apply(make_lowercase, axis=1)
df_frac.dropna(subset=['Title'], inplace=True)

/home/malgorzata/Repos/kaggle/venv/lib/python2.7/site-packages/ipykernel/__main__.py:7: UnicodeWarning: Unicode equal comparison failed to convert both arguments to Unicode - interpreting them as being unequal

In [50]:
df_frac.head()

,Id,OwnerUserId,CreationDate,Score,Title,Body
227773,20467705,1844303.0,2013-12-09T09:59:48Z,3,writing unicode data python,<p>I have an xlsx file that I need to convert ...
232835,20838162,2284221.0,2013-12-30T11:00:36Z,10,how threadpoolexecutor().map differ threadpool...,<p>I was just very confused by some code that ...
32659,3785294,138584.0,2010-09-24T08:14:56Z,11,best way iterate rows db-table,<p>I often write little Python scripts to iter...
38221,4314068,515982.0,2010-11-30T13:05:43Z,0,extend django user model (make work request.us...,"<p>I'd like to extend the User model, so I can..."
176789,16824902,2434346.0,2013-05-29T22:22:46Z,0,disappeared list variable,<p>Could you please tell why list variable hav...